@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", sans-serif;
}

body {
    background: #D3ECCD;
    color: #333;
    padding: 20px;
}

header {
    background-color: #075B5E;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
img {
    width: 50px;
    margin-right: 20px;
}
span {
    margin-right: 15px;
    font-size: 25px;
}

button {
    padding: 5px;
    background: white;
    border: none;
    color: black;
    border-radius: 5px;
}

button:hover {
    transition: 0.5s;
    background: #2d9958;
}

a {
    text-decoration: none;
    color: black;
}

#recipe-form-section {
    background: #9FC87E;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

#recipe-form-section input,
#recipe-form-section textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

#recipes {
    background: #f1f8e9;
    padding: 20px;
    border-radius: 8px;
}

.recipe-card {
    background: #ffffff;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
}

.recipe-card .title {
    font-size: 1.2em;
    font-weight: bold;
}

.recipe-card .author {
    font-style: italic;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.actions {
    margin-top: 10px;
}

.actions button {
    padding: 50px;
    margin-right: 10px;
}

.comment-section {
    margin-top: 10px;
}

.comment-section input {
    width: 70%;
    padding: 5px;
}

.auth-container {
    max-width: 500px;
    height: 400px;
    margin: 80px auto;
    background: #9FC87E;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-container h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.auth-container input {
    width: 95%;
    padding: 15px;
    margin: 20px 0;
    border: none;
    border-radius: 10px;
}

.auth-container button {
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.auth-container button:hover {
    transition: 0.5s;
    background: #075B5E;
}

.auth-container p {
    color: black;
    margin-top: 15px;
}

.auth-container p a {
    text-decoration: underline;
}